# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production
server/.env
client/.env
*.env

# Build outputs
dist/
build/
client/dist/
server/dist/

# Uploaded temporary files
server/uploads/*
!server/uploads/.gitkeep

# Prisma
server/prisma/*.db
server/prisma/*.db-journal

# Operating system files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/

server/scripts/*.wav
